*__pycache__
*.ipynb_checkpoints
*.pkl
*.csv
*.egg-info
.env
*build
*.tar.gz
instances.json

### Terraform ###
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
